<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> About 양정범 </title>

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
</head>
<body>

{% include 'blog/navbar.html' %}

<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8">
                <h1>양정범입니다.</h1>
                <br/>
                <p class="lead">
                   주100시간을 목표로 현재 80시간동안 열정을 불태우려 노력하고있습니다. <br/>

                </p>

                <ul>
                    <li>WORK EXPERIENCE</li>
                    <ul>
                        <li>신입입니다</li>

                    </ul>
                    <li>EDUCATION</li>
                    <ul>
                        <li>컴퓨터공학과 , 동아대학교 (2014.03~2020.08)</li>
                    </ul>
                </ul>

            </div>
            <div class="col-lg-4">
                <img class="img-fluid" src="{% static 'single_pages/images/me.png' %}">
            </div>
        </div>
    </div>
</section>

<section class="bg-light margin-for-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>2022 목표 </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#UnderstandDocker">
                    <img class="card-img-top" src="{% static 'single_pages/images/UnderstandDocker.png' %}">
                    <div class="card-body">
                        <h5 class="card-title"> Docker 이용하기</h5>
                        <p>Django를 이용하여 Docker활용하기</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#flask">
                    <img class="card-img-top" src="{% static 'single_pages/images/flask.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">flask 이용하여 웹만들기</h5>
                        <p>django는 지금 해보고 있지만 Flask 해보기  </p>
                    </div>
                </div>
            </div>
            <!--go lang -->
             <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#golang">
                    <img class="card-img-top" src="{% static 'single_pages/images/golang.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">Go 언어 공부하기</h5>
                        <p>시스템 프로그래밍 공부도 해보기  </p>
                    </div>
                </div>
            </div>
            <!--spring -->
          <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#spring">
                    <img class="card-img-top" src="{% static 'single_pages/images/spring.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">spring 이용하여 웹만들기</h5>
                        <p>아직까진 JAVA 는 기본 그럼백엔드는 spring/springboot는 어느정도 할줄알아야한다!!  </p>
                    </div>
                </div>
            </div>
            <!--msa -->
            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#msa">
                    <img class="card-img-top" src="{% static 'single_pages/images/msa.png' %}">
                    <div class="card-body">
                        <h5 class="card-title">MSA 공부해보기</h5>
                        <p>최근 kakao tech 를 보다가 본 MSA 한번 ...  </p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="#kubernetes">
                    <img class="card-img-top" src="{% static 'single_pages/images/kubernetes.jpg' %}">
                    <div class="card-body">
                        <h5 class="card-title">쿠버네티스 사용</h5>
                        <p>도커를 해봤으니까 다수의 컨테이너를 사용할수있는 쿠버네티스도 공부 할것이다.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>

</section>
<!-- Modal -->
<div class="modal fade" id="UnderstandDocker" tabindex="-1" role="dialog" aria-labelledby="UnderstandDockerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UnderstandDockerModalLabel">첫번째</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/UnderstandDocker.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p>도커를 한번 사용해보기 위해 파이썬 Django를 이용한 책을 찾아 공부를 하면서 쿠베네테스, nginx, graphQL 등을 알게되서
                        정말..기모지</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="flask" tabindex="-1" role="dialog" aria-labelledby="flaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="flaskModalLabel">두번째</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/flask.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p> 언제 한번 할꺼 공부를 해보자 그떄 이해가 좀 더 잘되게  </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="kubernetes" tabindex="-1" role="dialog" aria-labelledby="kubernetesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="kubernetesModalLabel"> 3번째</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/kubernetes.jpg' %}">
                    </div>
                    <div class="col-lg-5">
                        <p> 당장은 이걸 배울 건 힘들겠지만 직장에서 이걸 쓴다면 상당히 웃으면서 할수있겠지..?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--go -->
<div class="modal fade" id="golang" tabindex="-1" role="dialog" aria-labelledby="golangModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="golangModalLabel"> 3번째</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/golang.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p> 리눅스는 기본이고 go 도 아는 느낌으로..</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--msa -->
<div class="modal fade" id="msa" tabindex="-1" role="dialog" aria-labelledby="msaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="msaModalLabel"> 4번째</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/msa.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p> 현재까지 내가 아는 이론은 서로의 의존성을 최대한 없애서 각기능들 유동적으로 쓰이는 것 이것을 어떻게 하는가 에 대해서는 이해할려고 노력중</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--spring -->
<div class="modal fade" id="spring" tabindex="-1" role="dialog" aria-labelledby="springModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="springModalLabel"> 3번째</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'single_pages/images/spring.png' %}">
                    </div>
                    <div class="col-lg-5">
                        <p> JAVA는 기본이고 백엔드 가면 spring/springboot는 기본이다..</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="fixed-bottom">
    {% include 'blog/footer.html' %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


</body>
</html>